config webservices 'config'
	option title 'Available Services'
	option desktop_columns '4'
	option mobile_columns '3'
	option background_image '/luci-static/argon/img/bg1.jpg'
	option background_color '000000'

#config redirect 'gitea'
#	option comment 'Gitea'
#	option location 'http://openmediavault.lan:3000'
